In [1]:
import pandas as pd
df = pd.read_csv('cars.csv')

In [2]:
pd.get_dummies(df['engine_type']) # Recordar que es one-hot

       diesel  electric  gasoline
0           0         0         1
1           0         0         1
2           0         0         1
3           0         0         1
4           0         0         1
...       ...       ...       ...
38526       0         0         1
38527       1         0         0
38528       0         0         1
38529       0         0         1
38530       0         0         1

[38531 rows x 3 columns]

In [3]:
import sklearn.preprocessing as preprocessing

In [4]:
encoder = preprocessing.OneHotEncoder(handle_unknown ='ignore')

In [5]:
encoder.fit(df[['engine_type']].values) # ajustar el encoder a las categorias del dataset

OneHotEncoder(handle_unknown='ignore')

In [6]:
encoder.transform([['gasoline'],['diesel'],['agua']]).toarray()

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 0.]])