In [ ]:
%load_ext watermark
%watermark

In [2]:
import pandas as pd
import numpy as np

In [3]:
peliculas = pd.read_csv("datos_peliculas.csv")
peliculas.shape

(231, 12)

In [5]:
peliculas.head()

,pelicula,año,ratings,genero,ventas,presupuesto,secuela,vistas_youtube,positivos_youtube,negativos_youtube,comentarios,seguidores_agregados
0,13 Sins,2014,6.3,8,9130,4000000.0,1,3280543,4632,425,636,1120000.0
1,22 Jump Street,2014,7.1,1,192000000,50000000.0,2,583289,3465,61,186,12350000.0
2,3 Days to Kill,2014,6.2,1,30700000,28000000.0,1,304861,328,34,47,483000.0
3,300: Rise of an Empire,2014,6.3,1,106000000,110000000.0,2,452917,2429,132,590,568000.0
4,A Haunted House 2,2014,4.7,8,17300000,3500000.0,2,3145573,12163,610,1082,1923800.0

In [6]:
peliculas = peliculas.drop("pelicula",axis = 1)

In [7]:
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score

In [8]:
variable_objetivo_clasificacion = "genero"
variables_independientes_clasificacion = peliculas.drop(
variable_objetivo_clasificacion, axis=1).columns
variables_independientes_clasificacion

Index(['año', 'ratings', 'ventas', 'presupuesto', 'secuela', 'vistas_youtube',
       'positivos_youtube', 'negativos_youtube', 'comentarios',
       'seguidores_agregados'],
      dtype='object')

In [12]:
X_train, X_test, y_train, y_test = train_test_split(
peliculas[variables_independientes_clasificacion],
peliculas[variable_objetivo_clasificacion],
test_size=0.2
)

In [10]:
KNeighborsClassifier?

In [13]:
k= 8
modelo_knn_clasificador = KNeighborsClassifier(n_neighbors=k,weights="uniform")
modelo_knn_clasificador.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=8)

In [14]:
predicciones = modelo_knn_clasificador.predict(X_test)
predicciones

array([1, 3, 3, 8, 3, 3, 1, 3, 8, 3, 9, 3, 3, 3, 1, 8, 1, 1, 1, 8, 1, 1,
       1, 1, 1, 1, 3, 3, 3, 8, 3, 8, 1, 3, 1, 1, 3, 3, 8, 8, 1, 8, 8, 3,
       8, 8, 8], dtype=int64)