In [1]:
%load_ext watermark
%watermark

Last updated: 2022-01-20T14:06:06.751036-03:00

Python implementation: CPython
Python version       : 3.9.7
IPython version      : 7.29.0

Compiler    : MSC v.1916 64 bit (AMD64)
OS          : Windows
Release     : 10
Machine     : AMD64
Processor   : Intel64 Family 6 Model 158 Stepping 11, GenuineIntel
CPU cores   : 4
Architecture: 64bit

In [2]:
import pandas as pd
import numpy as np

In [3]:
peliculas = pd.read_csv("datos_peliculas.csv")
peliculas.shape

(231, 12)

In [4]:
peliculas.head()

,pelicula,año,ratings,genero,ventas,presupuesto,secuela,vistas_youtube,positivos_youtube,negativos_youtube,comentarios,seguidores_agregados
0,13 Sins,2014,6.3,8,9130,4000000.0,1,3280543,4632,425,636,1120000.0
1,22 Jump Street,2014,7.1,1,192000000,50000000.0,2,583289,3465,61,186,12350000.0
2,3 Days to Kill,2014,6.2,1,30700000,28000000.0,1,304861,328,34,47,483000.0
3,300: Rise of an Empire,2014,6.3,1,106000000,110000000.0,2,452917,2429,132,590,568000.0
4,A Haunted House 2,2014,4.7,8,17300000,3500000.0,2,3145573,12163,610,1082,1923800.0

In [5]:
peliculas = peliculas.drop("pelicula",axis = 1)

In [6]:
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score

In [7]:
variable_objetivo_clasificacion = "genero"
variables_independientes_clasificacion = peliculas.drop(
variable_objetivo_clasificacion, axis=1).columns
variables_independientes_clasificacion

Index(['año', 'ratings', 'ventas', 'presupuesto', 'secuela', 'vistas_youtube',
       'positivos_youtube', 'negativos_youtube', 'comentarios',
       'seguidores_agregados'],
      dtype='object')

In [8]:
X_train, X_test, y_train, y_test = train_test_split(
peliculas[variables_independientes_clasificacion],
peliculas[variable_objetivo_clasificacion],
test_size=0.2
)

In [9]:
KNeighborsClassifier?

In [29]:
k= 4
modelo_knn_clasificador = KNeighborsClassifier(n_neighbors=k,weights="uniform")
modelo_knn_clasificador.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=4)

In [30]:
predicciones = modelo_knn_clasificador.predict(X_test)
predicciones

array([ 1,  1,  1,  3,  3,  1,  1,  1,  3,  3,  1,  8, 12,  1,  8,  8,  1,
        8,  8,  1,  3,  1,  3,  1,  1,  3,  8,  8,  2,  1,  1, 10,  1,  3,
        3,  1,  9,  1,  1, 12,  1,  3,  3,  3,  1,  3,  1], dtype=int64)

In [31]:
# f1_score?
print(f1_score(y_test,predicciones,average='micro'))

0.40425531914893614

In [32]:
X_test.iloc[0]

año                          2014.0
ratings                         7.0
ventas                  241000000.0
presupuesto             180000000.0
secuela                         1.0
vistas_youtube             557012.0
positivos_youtube            3528.0
negativos_youtube             135.0
comentarios                   464.0
seguidores_agregados         5633.0
Name: 70, dtype: float64

In [35]:
# buscar el vecino más cercano a  X_test.iloc[0]
distancia, indice = modelo_knn_clasificador.kneighbors([X_test.iloc[0]], n_neighbors=1)

In [36]:
print(peliculas.iloc[144])

año                         2014.00
ratings                        6.80
genero                         3.00
ventas                      5000.00
presupuesto             11712310.56
secuela                        1.00
vistas_youtube            253631.00
positivos_youtube            170.00
negativos_youtube             11.00
comentarios                   58.00
seguidores_agregados           0.00
Name: 144, dtype: float64