# Tarea
## "Correlación no implica causalidad"

### Intrucciones:
- Buscar un dataset o crear uno que se ajuste a la premisa "correlación no implica causalidad"
- Usar librerías para graficarlo

## Chocolate consumption and Nobel laureates

El dataset utilizado en esta tarea corresponde a la data extraida de una publicación llamada "Chocolate consumption and Nobel laureates" publicada en sciencedirect en 2020 (link: https://www.sciencedirect.com/science/article/pii/S2590291120300711#bib5).

El dataset consta de 4 columnas cuyos nombres son:
- Country 
- Chocolate consumption (kg/year/capita)	
- Coffee consumption (kg/year/capita)	
- Number of Nobel laureates (up to the year 2018)

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler # Z-score
plt.style.use("seaborn-dark")

In [5]:
df =pd.read_csv('Chocolate_consumption_and_Nobel_laureates.csv')

In [6]:
df.head()

  Country;Chocolate_consumption;Coffee_consumption;Number_of_Nobel_laureates
0                               Australia;4.8;2.6;12
1                                 Austria;8.5;5.5;21
2                                 Belgium;6.4;4.9;10
3                                   Brazil;1.2;4.8;0
4                                  Canada;3.9;3.4;24